name: Create Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The new version to tag, ex: 1.0.5'
        required: true
        type: string

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create Release
        run: |
          set -euo pipefail
          set -x

          git config --global user.name "Automatic version bump"
          git config --global user.email "keithbsmiley@gmail.com"
          # ./.github/update-module-version.sh "$TAG"
          # tmp_branch="$(uuidgen)"
          # git checkout -b "$tmp_branch"
          # git add MODULE.bazel
          # msg="Update MODULE.bazel to $TAG"
          # git commit -m "$msg"
          # git push -u origin "$tmp_branch"
          # gh pr create --title "$msg" --body ""
          # gh pr merge --admin --squash "$tmp_branch"

          # COPYFILE_DISABLE=1 tar czvf "apple_support.$TAG.tar.gz" ./*
          # ./.github/generate-notes.sh "$TAG" | tee notes.md
          # gh release create "$TAG" --target "$GITHUB_REF_NAME" --notes-file notes.md "apple_support.$TAG.tar.gz"

          git clone https://$GH_TOKEN@github.com/bazelbuild/rules_swift.git
          cd rules_swift
          echo "hi" >> README.md
          tmp_branch="$(uuidgen)"
          git checkout -b "$tmp_branch"
          git add README.md
          msg="Test PR"
          git commit -m "$msg"
          git push -u origin "$tmp_branch"
          gh pr create --title "$msg" --body ""

        env:
          TAG: ${{ inputs.tag }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
