name: release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The new version to tag, ex: 1.0.5'
        required: true
        type: string

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: |
          echo "Log level: $TAG"
          echo "Environment: $NOTES"
          COPYFILE_DISABLE=1 tar czvf "apple_support.$TAG.tar.gz" ./*
          gh release create "$TAG" --notes-file notes.md "apple_support.$TAG.tar.gz"
        env:
          TAG: ${{ inputs.tag }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - name: Release
      #   uses: softprops/action-gh-release@v1
      #   with:
      #     files: apple_support.${{ inputs.tag }}.tar.gz
      #     body: ${{ inputs.notes }}
      #     tag_name: ${{ inputs.tag }}
      #     fail_on_unmatched_files: true
